@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background: #0c0a22;
}
.stroketext {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}
